body {
  margin: 0;
  background: #000000;
  background: -webkit-linear-gradient(to right, #434343, #000000);
  background: linear-gradient(to right, #434343, #000000);
}
.layout {
  display: flex;

  .body {
    margin-left: 90px;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .layout {
    flex-direction: column;

    .body {
      margin: 10vh 0 0;
      padding: 0;
    }
  }
}
